# Entrega 1: Exploración de datos

## Lectura de datos

In [1]:
import pandas as pd

In [3]:
personas_data = pd.read_csv('data/nivel_pobreza_personas.csv')

personas_data.head()

,Unnamed: 0,directorio,secuencia_p,orden,clase,dominio,mes,p3271,p6040,p6050,...,iof2es,iof3hes,iof3ies,iof6es,ingtotob,ingtotes,ingtot,fex_c,dpto,fex_dpto
0,1,5000000.0,1,1,1,RESTO URBANO,1,1,33,1,...,NaN,NaN,NaN,NaN,768000.0,NaN,768000.0,119.371944,8,189.039972
1,2,5000000.0,1,2,1,RESTO URBANO,1,2,31,2,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,119.371944,8,189.039972
2,3,5000000.0,1,3,1,RESTO URBANO,1,2,11,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.371944,8,189.039972
3,4,5000000.0,1,4,1,RESTO URBANO,1,2,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.371944,8,189.039972
4,5,5000000.0,1,5,1,RESTO URBANO,1,1,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.371944,8,189.039972

## Descripción datos

 Se menciona la fuente de los datos. Se definen las variables, su tipo, y sus estadísticos descriptivos. Se utilizan tablas y/o herramientas gráficas como diagramas de dispersión, histogramas, correlogramas, etc., para establecer el rol que cumple cada variable en el contexto de la resolución del problema bajo estudio

### Estadísticas descriptivas

### Gráficos

## Conclusiones